@import "../../common.scss";
.wind-section {
    @extend .common-section;
    .wind-subsection {
        @extend .common-subsection;
        .wind-image{
            @extend .common-image;
            img {
                width: 100%;
            }
        }
        .wind-value {
            @extend .common-value;
        }
        .arrow {
            width: 2rem;
            img {
                width: 100%;
            }
        }
    }
}